@import "mixin";
* {
    list-style-type: none;
    padding: 0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto';
    src: url(../../public/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'robotoBold';
    src: url(../../public/fonts/roboto/Roboto-Bold.ttf);
}

body{
    scroll-behavior: smooth;
    font-family: roboto;
    padding: 2em;
    @include flex(center, column);
}

.list{
    @include flex($direction:column);
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    width: 300px;
    border-radius: 5px;

    p{
        padding: .5em 0;
    }
}

a{
    display: inline-block;
}

.todoDone span{
    text-decoration: line-through;
}

.todoUndone{
    color: blue;
}

.button{
    padding: .5em 1em;
    color: white;
    background-color: black;
    font-family: robotoBold;
    border-radius: 10px;
    font-size: 16px;
    margin-right: .5em;
    cursor: pointer;
    margin-bottom: .3em;
}

.buttonSecondary{
    padding: .2em .5em;
    margin-bottom: .3em;
    color: white;
    background-color: black;
    font-family: roboto;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.list li{
    @include flex(space-between);
    gap: .3em;
    padding: .5em 0;
}
form div{
    padding: 1em 0;
}

form{
    @include flex(center, column);
}
button{
    border: none;
}

.error{
    color:red;
}

.delete{
    background-color: rgb(117, 11, 11);
}