@import "mixin";
* {
    list-style-type: none;
    padding: 0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto';
    src: url(../../public/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'robotoBold';
    src: url(../../public/fonts/roboto/Roboto-Bold.ttf);
}

body{
    scroll-behavior: smooth;
    font-family: roboto;
    @include flex(center, column);
}

header{
    width: 100%;
    @include flex();
    background-color: rgb(37, 37, 37);
    margin-bottom: 3em;
    li{
        padding: 2em 1em;
        @include transi();
        &:hover{
            background-color: black;
        }
    }
    a{
        color: white;
        font-family: robotoBold;
    }
}

.list{
    @include flex($direction:column);
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    width: 300px;
    border-radius: 5px;
    h2{
        text-align: center;
    }
    p{
        padding: .5em 0;
    }
}

.listContainer{
    width: 80%;
    @include flex(center,row,flex-start);
    gap: 2em;
    padding: 2em 0;
    .list{
        @include flex(flex-start,column,flex-start);

        h2{
            align-self: center;
        }
    }
}

a{
    display: inline-block;
}

.todoDone span{
    text-decoration: line-through;
}

.todoUndone{
    color: blue;
}

.button{
    padding: .5em 1em;
    color: white;
    background-color: black;
    font-family: robotoBold;
    border-radius: 10px;
    font-size: 16px;
    margin-right: .5em;
    cursor: pointer;
    margin-bottom: .3em;
}

.buttonSecondary{
    padding: .2em .5em;
    margin-bottom: .3em;
    color: white;
    background-color: black;
    font-family: roboto;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.list li{
    @include flex(space-between);
    gap: .3em;
    padding: .5em 0;
}
form div{
    padding: 1em 0;
}

form{
    @include flex(center, column);
    padding: 2em;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.37);
    margin-bottom: 2em;
    border-radius: 5px;
    min-width: 500px;
    div{
        @include flex(center, column);
    }
}
button{
    border: none;
}

.error{
    color:red;
}

.delete{
    background-color: rgb(117, 11, 11);
}

.appointmentButton{
    margin-bottom: 2em;
}

.pagination{
    @include flex();
    gap: .5em;
    background-color: transparent;
    padding: 2em 1em 0;
    min-width: 150px;
    margin: 1em auto 3em;

    a{
        display: inline-block;
        color: white;
        font-family: robotoBold;
        border-radius: 50%;
        min-width: 40px;
        min-height: 40px;
        @include flex();
        color: white;
        background-color: $thirdColor;
        padding: .5em;
        @include transi();
        &:hover:not(.current){
            background-color: $primaryColor;
        }
    }

    .current{
        background-color: $primaryColor;
        font-family: robotoBold;
        border-radius: 50%;
        min-width: 40px;
        min-height: 40px;
        @include flex();
        color: white;
    }

    .pagination-previous, .pagination-next{
        a{
            border-radius: 10px;
        }
        border-radius: 10px;
        padding: 0 .5em ;
    }

    .disabled{
        display: none;
    }

    .ellipsis{
        display: none;
    }
}

